# Ignore binaries and assembly dump files
src/shadowstack/firmware.*
dump.asm

# Ignore miscellaneous files
TODO
.vscode

# Ignore toolsExtra output files
toolsExtra/firmware.*
toolsExtra/warnings.log