# Ignore MAKE output files
src/cfi/*.bin
src/cfi/*.elf
dump.asm

# Ignore c and h files outside main directory
!src/cfi/ij_logger.c

# Ignore flasher.py output files
toolsExtra/*.bin
toolsExtra/*.elf
toolsExtra/logs.log
toolsExtra/*.s
toolsExtra/__pycache__

# Ignore miscellaneous files
TODO
.vscode