# Ignore binaries and assembly dump files
src/shadowstack/firmware.*
dump.asm

# Ignore miscellaneous files
TODO
.vscode

# Ignore toolsExtra output files
toolsExtra/*.bin
toolsExtra/*.elf
toolsExtra/logs.log
toolsExtra/*.s
toolsExtra/__pycache__